<mat-card class="mat-elevation-z8">
    <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 1px;">
        <div style="display: flex; width: 100%; gap: 12px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 1 1 50%; margin: 0;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <div style="flex: 1 1 50%; display: flex; justify-content: flex-end;">
                <button mat-raised-button color="primary"  matTooltip="Exportar Usuarios">
                    <mat-icon>print</mat-icon>
                    Imprimir
                </button>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="custom-table">
        <ng-container matColumnDef="NameEmpresa">
            <th mat-header-cell *matHeaderCellDef> Nombre de la empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nameEmpresa}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef>Correo Electronico</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Ruc">
            <th mat-header-cell *matHeaderCellDef> Ruc </th>
            <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="ColorPrimay">
            <th mat-header-cell *matHeaderCellDef> Color</th>
            <td mat-cell *matCellDef="let element"> {{element.colorPrimary}} </td>
        </ng-container>
        <ng-container matColumnDef="ColorSecundary">
            <th mat-header-cell *matHeaderCellDef> Color 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.colorSecundary}} </td>
        </ng-container>
        <ng-container matColumnDef="LogHeader">
            <th mat-header-cell *matHeaderCellDef> Logo del encabezado </th>
            <td mat-cell *matCellDef="let element"> {{element.logHeader}} </td>
        </ng-container>
        <ng-container matColumnDef="LogoFooter">
            <th mat-header-cell *matHeaderCellDef> Logo pie de pagina </th>
            <td mat-cell *matCellDef="let element"> {{element.logoFooter}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Acciones </th>
            <td mat-cell *matCellDef="let element" style="display: flex; gap: 8px; justify-content: center;">
                <button mat-icon-button aria-label="Editar" class="small-icon-button color-primary" matTooltip="Editar usuario" (click)="editarEmpresa(element.id)">
                    <mat-icon class="small-icon">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Eliminar" class="small-icon-button color-warn"  matTooltip="Eliminar usuario" (click)="eliminarEmpresa(element.id)">
                    <mat-icon class="small-icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>

