<div class="login-background">
    <div class="login-overlay">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Iniciar Sesión</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="form-custom" [formGroup]="formLogin">
                    <mat-form-field appearance="outline" class="input-custom">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-custom">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="Contraseña"
                            (paste)="onPaste($event)">
                    </mat-form-field>
                    @if (mostrarSelect()) {
                    <mat-form-field appearance="outline" class="input-custom">
                        <mat-label>Empresa</mat-label>
                        <mat-select formControlName="empresa">
                            <mat-option value="" disabled>Seleccione una empresa</mat-option>
                            @for (empresa of empresas(); track empresa.id ) {
                            <mat-option [value]="empresa.id">{{ empresa.nameEmpresa }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    }
                    <div class="buttons-container">
                        <button mat-flat-button color="primary" (click)="Login()">Iniciar Sesión</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <footer class="footer-custom">
        <div class="footer-content">
            <div class="footer-left">
                <img src="ITQ.png" alt="Logo de la empresa" class="logo-footer" style="height: 60px;">
            </div>
            <div class="footer-right" style="text-align:right;">
                <p><STrong>&copy; {{ fechaActual }} - PROYECTO DE INTEGRACIÓN CURRICULAR.</STrong></p>
                <p><STRong>&copy; RONALD VINICIO CARGUAQUISPE TITOAÑA.</STRong></p>
            </div>
        </div>
    </footer>
</div>