<div class="login-background">
    <div class="login-overlay">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Iniciar Sesión</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="form-custom" [formGroup]="formLogin">
                    <mat-form-field appearance="outline" class="input-custom">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-custom">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="Contraseña">
                    </mat-form-field>
                    @if (mostrarSelect()) {
                    <mat-form-field appearance="outline" class="input-custom">
                        <mat-label>Empresa</mat-label>
                        <mat-select formControlName="empresa">
                            <mat-option value="" disabled>Seleccione una empresa</mat-option>
                            @for (empresa of empresas(); track empresa.id ) {
                            <mat-option [value]="empresa.id">{{ empresa.nameEmpresa }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    }
                    <div class="buttons-container">
                        <button mat-flat-button color="primary" (click)="Login()">Iniciar Sesión</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>