<h2 mat-dialog-title>{{tituloAccion}} Usuario</h2>
<mat-dialog-content>
    <form [formGroup]="formPermission">
        <mat-grid-list cols="2" rowHeight="85px" gutterSize="10px">
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Nombre Permiso</mat-label>
                    <input matInput formControlName="name" placeholder="Nombre del Permiso" autocomplete="off">
                    <mat-icon matSuffix>lock_open</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Icono del Permiso</mat-label>
                    <input matInput formControlName="icon" placeholder="Icono del Permiso" autocomplete="off">
                    <mat-icon matSuffix>apps</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Permisos Seleccionados</mat-label>
                    <mat-select formControlName="accionList" multiple>
                        <mat-option value="" disabled>Seleccione los permisos para el rol</mat-option>
                        @for (accion of accionList(); track accion.accionId ) {
                        <mat-option [value]="accion.accionId">{{ accion.nombre }}</mat-option>
                        }
                    </mat-select>
                    <mat-icon matSuffix>assignment_ind</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" style="border-top: none !important; box-shadow: none !important;">
                <div style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
                    <div style="display: flex; align-items: center; gap: 16px;">
                        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                            style="display: none" />
                        <button mat-raised-button color="primary" (click)="fileInput.click()">
                            Elige una imagen para este permiso.
                        </button>
                        @if (selectedFile){
                        <span style="margin-left: 8px;">{{ selectedFile.name }}</span>
                        }@else{
                        <span style="color: rgba(0,0,0,0.54); font-style: italic; margin-left: 8px;">
                            Ningún archivo seleccionado
                        </span>
                        }
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton mat-dialog-close color="warn">Volver</button>
    <button matButton color="warn" [disabled]="formPermission.invalid"
        (click)="save()">{{botonAccion}}</button>
</mat-dialog-actions>