<h2 mat-dialog-title>{{tituloAccion}} Usuario</h2>
<mat-dialog-content>
    <form [formGroup]="formRole">
        <mat-grid-list cols="2" rowHeight="85px" gutterSize="10px">
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Nombre del role</mat-label>
                    <input matInput formControlName="nameRol" placeholder="Nombre del role" autocomplete="off">
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Icono del Rol</mat-label>
                    <input matInput formControlName="icon" placeholder="Icono del rol" autocomplete="off">
                    <mat-icon matSuffix>insert_emoticon</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Descripción del rol</mat-label>
                    <input matInput formControlName="description" placeholder="Descripción del rol" autocomplete="off">
                    <mat-icon matSuffix>description</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Permisos Seleccionados</mat-label>
                    <mat-select formControlName="permisoList" multiple>
                        <mat-option value="" disabled>Seleccione los permisos para el rol</mat-option>
                        @for (permiso of permisoList(); track permiso.id ) {
                        <mat-option [value]="permiso.id">{{ permiso.name }}</mat-option>
                        }
                    </mat-select>
                    <mat-icon matSuffix>assignment_ind</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" style="border-top: none !important; box-shadow: none !important;">
                <div style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
                    <div style="display: flex; align-items: center; gap: 16px;">
                        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                            style="display: none" />
                        <button mat-raised-button color="primary" (click)="fileInput.click()">
                            Seleccione una imagen para el rol.
                        </button>
                        @if (selectedFile){
                        <span style="margin-left: 8px;">{{ selectedFile.name }}</span>
                        }@else{
                        <span style="color: rgba(0,0,0,0.54); font-style: italic; margin-left: 8px;">
                            Ningún archivo seleccionado
                        </span>
                        }
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton mat-dialog-close color="warn">Volver</button>
    <button matButton mat-dialog-close color="warn" [disabled]="formRole.invalid"
        (click)="save()">{{botonAccion}}</button>
</mat-dialog-actions>