<mat-card class="mat-elevation-z4" style="display: flex; flex-direction: row; padding: 0; height: 35px;">
    <button mat-button
        style="flex: 1; border-right: 1px solid #ccc; font-weight: 600; font-size: 0.9rem; height: 100%; border-radius: 4px !important;"
        (click)="mostrarRegistro.set(true); mostrarTable.set(false)" [class.active]="mostrarRegistro()">
        Registro
    </button>
    <button mat-button
        style="flex: 1; font-weight: 600; font-size: 0.9rem; height: 100%; border-radius: 4px !important;"
        (click)="mostrarTable.set(true); mostrarRegistro.set(false)" [class.active]="mostrarTable()"
        (click)="UpdatePaginator()">
        Tabla
    </button>
</mat-card>
@if (mostrarTable()) {
<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios
    </mat-card-title>
    <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 1px;">
        <div style="display: flex; width: 100%; gap: 12px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 1 1 50%; margin: 0;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <div style="flex: 1 1 50%; display: flex; justify-content: flex-end;">
                @if (addUser) {
                <button mat-raised-button color="primary" (click)="NewUser()" matTooltip="Agregar Usuario">
                    <mat-icon>person_add</mat-icon>
                    Agregar
                </button>
                }
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSourceAdmin" class="custom-table">
        <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef> Numero de Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Acciones </th>
            <td mat-cell *matCellDef="let element" style="display: flex; gap: 8px; justify-content: center;">
                <button mat-icon-button aria-label="Editar" class="small-icon-button color-primary"
                    (click)="EditUser(element)" matTooltip="Editar usuario"
                    [style.visibility]="editUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Eliminar" class="small-icon-button color-warn"
                    matTooltip="Deshabilitar usuario" (click)="DeleteUserAdmin(element.id)"
                    [style.visibility]="deleteUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">person_add_disabled_24</mat-icon>
                </button>
                <button mat-icon-button aria-label="Editar" class="small-raised-button color-accent"
                    (click)="UpdatePassword(element)" matTooltip="Cambiar Clave" [style.visibility]="UpdatePasswordUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">admin_panel_settings</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmin"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmin;"></tr>
    </table>
    <mat-paginator #paginatorUserAdmin [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>


<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios Inactivos
    </mat-card-title>
    <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 1px;">
        <div style="display: flex; width: 100%; gap: 12px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 0 0 50%; margin: 0;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter4($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSourceAdminInactive" class="custom-table">
        <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef> Numero de Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Acciones </th>
            <td mat-cell *matCellDef="let element" style="display: flex; gap: 8px; justify-content: center;">
                <button mat-icon-button aria-label="Eliminar" class="small-raised-button color-accent"
                    matTooltip="Activar usuario" (click)="ActivateUserEmpresa(element.id)"
                    [style.visibility]="activateUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">how_to_reg_24</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdminInactive"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdminInactive;"></tr>
    </table>
    <mat-paginator #paginatorUserAdminInactive [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>

<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios Totales
    </mat-card-title>
    <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 1px;">
        <div style="display: flex; width: 100%; gap: 12px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 1 1 50%; margin: 0;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter1($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <div style="flex: 1 1 50%; display: flex; justify-content: flex-end;">
                @if (addUser) {
                <button mat-raised-button color="primary" (click)="NewUser()" matTooltip="Agregar Usuario">
                    <mat-icon>person_add</mat-icon>
                    Agregar
                </button>
                }
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="custom-table">
        <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef> Numero de Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Acciones </th>
            <td mat-cell *matCellDef="let element" style="display: flex; gap: 8px; justify-content: center;">
                <button mat-icon-button aria-label="Editar" class="small-icon-button color-primary"
                    (click)="EditUser(element)" matTooltip="Editar usuario"
                    [style.visibility]="editUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Eliminar" class="small-icon-button color-warn"
                    matTooltip="Deshabilitar usuario" (click)="DeleteUser(element.id)"
                    [style.visibility]="deleteUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">person_add_disabled_24</mat-icon>
                </button>
                <button mat-icon-button aria-label="Eliminar" class="small-raised-button color-accent"
                    (click)="UpdatePassword(element)" matTooltip="Cambiar Clave" [style.visibility]="UpdatePasswordUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">admin_panel_settings</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginatorUser [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>


<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios Totales Inactivos
    </mat-card-title>
    <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 1px;">
        <div style="display: flex; width: 100%; gap: 12px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 0 0 50%; margin: 0;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter3($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSourceInactive" class="custom-table">
        <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef> Numero de Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Acciones </th>
            <td mat-cell *matCellDef="let element" style="display: flex; gap: 8px; justify-content: center;">
                <button mat-icon-button aria-label="Eliminar" class="small-raised-button color-accent"
                    matTooltip="Activar usuario" (click)="ActivateUser(element.id)"
                    [style.visibility]="activateUser ? 'visible' : 'hidden'">
                    <mat-icon class="small-icon">how_to_reg_24</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsInactive"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInactive;"></tr>
    </table>
    <mat-paginator #paginatorUserInactive [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>
}

@if (mostrarRegistro()) {
<mat-card class="mat-elevation-z4" style="padding: 16px;">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios
    </mat-card-title>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 12px;">
        @if (addUser) {
        <button mat-raised-button color="primary" (click)="NewUser()" matTooltip="Agregar Usuario">
            <mat-icon>person_add</mat-icon>
            Agregar
        </button>
        }
    </div>
    <div style="display: flex; flex-direction: column; gap: 12px;">
        @for (user of useradmin(); track user.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">

            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleUserAdmin(user.id!)">
                <div style="flex: 1;">
                    <strong>{{ user.name }} {{ user.lastName }}</strong>
                </div>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;"
                    (click)="EditUser(user); $event.stopPropagation()" matTooltip="Editar usuario"
                    class="small-icon-button color-primary" [style.visibility]="editUser ? 'visible' : 'hidden'">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;" matTooltip="Deshabilitar usuario"
                    class="small-icon-button color-warn" (click)="DeleteUserAdmin(user.id!)"
                    [style.visibility]="deleteUser ? 'visible' : 'hidden'">
                    <mat-icon>person_add_disabled_24</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" (click)="UpdatePassword(user)"
                    matTooltip="Cambiar Clave" class="small-raised-button color-accent" [style.visibility]="UpdatePasswordUser ? 'visible' : 'hidden'">
                    <mat-icon>admin_panel_settings</mat-icon>
                </button>
            </div>

            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedUserAdmin() === user.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px; display: flex; justify-content: space-between; align-items: flex-start;">
                        <div style="flex: 1; display: flex; flex-direction: column; gap: 24px;">
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombre Usuario</mat-label>
                                    <input matInput [value]="user.nameProfile" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: yellow; font-size: 18px;">account_box</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Correo</mat-label>
                                    <input matInput [value]="user.email" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">alternate_email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput [value]="user.name" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput [value]="user.lastName" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Cédula</mat-label>
                                    <input matInput [value]="user.cedula" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: violet; font-size: 18px;">badge</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput [value]="user.phone" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">call</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div
                            style="width: 180px; height: 215px; border-radius: 8px; overflow: hidden; margin-left: 24px; flex-shrink: 0; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
                            <img [src]="user.urlImagen ? 'https://recursosstorage.blob.core.windows.net/usuarios/' + user.urlImagen : 'https://recursosstorage.blob.core.windows.net/default/usuariodefault.png'"
                                style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</mat-card>
<mat-card class="mat-elevation-z4" style="padding: 16px;">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios Inactivos
    </mat-card-title>
    <div style="display: flex; flex-direction: column; gap: 12px;">
        @for (user of useradminInactive(); track user.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">

            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleUserAdminInactive(user.id!)">
                <div style="flex: 1;">
                    <strong>{{ user.name }} {{ user.lastName }}</strong>
                </div>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" matTooltip="Activar usuario"
                    class="small-raised-button color-accent" (click)="ActivateUserEmpresa(user.id!)"
                    [style.visibility]="activateUser ? 'visible' : 'hidden'">
                    <mat-icon>how_to_reg_24</mat-icon>
                </button>
            </div>

            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedUserAdminInactive() === user.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px; display: flex; justify-content: space-between; align-items: flex-start;">
                        <div style="flex: 1; display: flex; flex-direction: column; gap: 24px;">
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombre Usuario</mat-label>
                                    <input matInput [value]="user.nameProfile" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: yellow; font-size: 18px;">account_box</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Correo</mat-label>
                                    <input matInput [value]="user.email" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">alternate_email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput [value]="user.name" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput [value]="user.lastName" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Cédula</mat-label>
                                    <input matInput [value]="user.cedula" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: violet; font-size: 18px;">badge</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput [value]="user.phone" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">call</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div
                            style="width: 180px; height: 215px; border-radius: 8px; overflow: hidden; margin-left: 24px; flex-shrink: 0; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
                            <img [src]="user.urlImagen ? 'https://recursosstorage.blob.core.windows.net/usuarios/' + user.urlImagen : 'https://recursosstorage.blob.core.windows.net/default/usuariodefault.png'"
                                style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</mat-card>

<mat-card class="mat-elevation-z4" style="padding: 16px;">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios Totales
    </mat-card-title>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 12px;">
        @if (addUser) {
        <button mat-raised-button color="primary" (click)="NewUser()" matTooltip="Agregar Usuario">
            <mat-icon>person_add</mat-icon>
            Agregar
        </button>
        }
    </div>
    <div style="display: flex; flex-direction: column; gap: 12px;">
        @for (user of user(); track user.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">

            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleUser(user.id!)">
                <div style="flex: 1;">
                    <strong>{{ user.name }} {{ user.lastName }}</strong>
                </div>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;"
                    (click)="EditUser(user); $event.stopPropagation()" matTooltip="Editar usuario"
                    class="small-icon-button color-primary" [style.visibility]="editUser ? 'visible' : 'hidden'">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;" matTooltip="Deshabilitar usuario"
                    class="small-icon-button color-warn" (click)="DeleteUser(user.id!)" [style.visibility]="deleteUser ? 'visible' : 'hidden'">
                    <mat-icon>person_add_disabled_24</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" (click)="UpdatePassword(user)"
                    matTooltip="Cambiar Clave" class="small-raised-button color-accent" [style.visibility]="UpdatePasswordUser ? 'visible' : 'hidden'">
                    <mat-icon>admin_panel_settings </mat-icon>
                </button>
            </div>

            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedUser() === user.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px; display: flex; justify-content: space-between; align-items: flex-start;">
                        <div style="flex: 1; display: flex; flex-direction: column; gap: 24px;">
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombre Usuario</mat-label>
                                    <input matInput [value]="user.nameProfile" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: yellow; font-size: 18px;">account_box</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Correo</mat-label>
                                    <input matInput [value]="user.email" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">alternate_email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput [value]="user.name" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput [value]="user.lastName" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Cédula</mat-label>
                                    <input matInput [value]="user.cedula" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: violet; font-size: 18px;">badge</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput [value]="user.phone" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">call</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div
                            style="width: 180px; height: 215px; border-radius: 8px; overflow: hidden; margin-left: 24px; flex-shrink: 0; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
                            <img [src]="user.urlImagen ? 'https://recursosstorage.blob.core.windows.net/usuarios/' + user.urlImagen : 'https://recursosstorage.blob.core.windows.net/default/usuariodefault.png'"
                                alt="Imagen usuario" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</mat-card>


<mat-card class="mat-elevation-z4" style="padding: 16px;">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Usuarios Totales Inactivos
    </mat-card-title>
    <div style="display: flex; flex-direction: column; gap: 12px;">
        @for (user of userInactive(); track user.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">

            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleUserInactive(user.id!)">
                <div style="flex: 1;">
                    <strong>{{ user.name }} {{ user.lastName }}</strong>
                </div>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" matTooltip="Activar usuario"
                    class="small-raised-button color-accent" (click)="ActivateUser(user.id!)" [style.visibility]="activateUser ? 'visible' : 'hidden'">
                    <mat-icon>how_to_reg_24</mat-icon>
                </button>
            </div>

            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedUserInactive() === user.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px; display: flex; justify-content: space-between; align-items: flex-start;">
                        <div style="flex: 1; display: flex; flex-direction: column; gap: 24px;">
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombre Usuario</mat-label>
                                    <input matInput [value]="user.nameProfile" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: yellow; font-size: 18px;">account_box</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Correo</mat-label>
                                    <input matInput [value]="user.email" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">alternate_email</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput [value]="user.name" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput [value]="user.lastName" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: aqua; font-size: 18px;">person_outline</mat-icon>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Cédula</mat-label>
                                    <input matInput [value]="user.cedula" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: violet; font-size: 18px;">badge</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput [value]="user.phone" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">call</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div
                            style="width: 180px; height: 215px; border-radius: 8px; overflow: hidden; margin-left: 24px; flex-shrink: 0; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
                            <img [src]="user.urlImagen ? 'https://recursosstorage.blob.core.windows.net/usuarios/' + user.urlImagen : 'https://recursosstorage.blob.core.windows.net/default/usuariodefault.png'"
                                alt="Imagen usuario" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</mat-card>

}