mat-card {
    width: 100%;
    overflow-x: auto;
    padding: 16px;
    border: 2px solid #1976d2;
    box-sizing: border-box;
}

/* CARD ANIDADO */
.custom-card {
    width: 100%;
    overflow-x: auto;
    padding: 16px;
    border: 2px;
    box-sizing: border-box;

}

.custom-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #fafafa;
    font-size: 0.55rem;

}

.custom-table th {
    background-color: #2c2c2c;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.custom-table td {
    padding: 1px;
    border-bottom: 0px;
}

.mat-column-actions {
    width: 3vw;
    min-width: 10px;
}

.mat-column-product {
    width: 20vw;
    min-width: 150px;
}

.actions-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mat-form-field,
.mat-select,
mat-option,
input {
    font-size: 0.95rem !important;
}

.mat-form-field {
    margin: 0 !important;
    padding: 0 !important;
    height: 36px !important;
    line-height: 1.2 !important;
}
