<h2 mat-dialog-title>{{tituloAccion}} Usuario</h2>
<mat-dialog-content>
    <form [formGroup]="formEmpresa">
        <mat-grid-list cols="2" rowHeight="85px" gutterSize="10px">
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Nombre de la Empresa</mat-label>
                    <input matInput formControlName="nameEmpresa" placeholder="Nombre de la Empresa" autocomplete="off">
                    <mat-icon matSuffix>business</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <!-- RUC -->
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>RUC</mat-label>
                    <input matInput formControlName="ruc" placeholder="RUC" autocomplete="off">
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <!-- Email -->
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Email" autocomplete="off">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <!-- Colores (Primario y Secundario) -->
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Color Primario</mat-label>
                    <input matInput type="color" formControlName="colorPrimary">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Color Secundario</mat-label>
                    <input matInput type="color" formControlName="colorSecundary">
                </mat-form-field>
            </mat-grid-tile>

            <!-- Dirección (colspan 2 porque puede ser más larga) -->
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="outline" class="input-custom">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="address" placeholder="Dirección" autocomplete="off">
                    <mat-icon matSuffix>location_on</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <!-- Logo Header -->
            <mat-grid-tile colspan="2" style="border-top: none !important; box-shadow: none !important;">
                <div style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
                    <div style="display: flex; align-items: center; gap: 16px;">
                        <input type="file" #fileInputHeader (change)="onFileSelectedHeader($event)" accept="image/*"
                            style="display: none" />
                        <button mat-raised-button color="primary" (click)="fileInputHeader.click()">
                            Seleccione una imagen para el encabezado.
                        </button>
                        @if (selectedFileHeader){
                        <span style="margin-left: 8px;">{{ selectedFileHeader.name }}</span>
                        }@else{
                        <span style="color: rgba(0,0,0,0.54); font-style: italic; margin-left: 8px;">
                            Ningún archivo seleccionado
                        </span>
                        }
                    </div>
                </div>
            </mat-grid-tile>

            <!-- Logo Footer -->
            <mat-grid-tile colspan="2" style="border-top: none !important; box-shadow: none !important;">
                <div style="display: flex; flex-direction: column; align-items: flex-start; width: 100%;">
                    <div style="display: flex; align-items: center; gap: 16px;">
                        <input type="file" #fileInputFooter  (change)="onFileSelectedFooter($event)" accept="image/*"
                            style="display: none" />
                        <button mat-raised-button color="primary" (click)="fileInputFooter.click()">
                            Seleccione una imagen para el pie de página.
                        </button>
                        @if (selectedFileFooter){
                        <span style="margin-left: 8px;">{{ selectedFileFooter.name }}</span>
                        }@else{
                        <span style="color: rgba(0,0,0,0.54); font-style: italic; margin-left: 8px;">
                            Ningún archivo seleccionado
                        </span>
                        }
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton mat-dialog-close color="warn">Volver</button>
    <button matButton color="warn" [disabled]="formEmpresa.invalid"
        (click)="save()">{{botonAccion}}</button>
</mat-dialog-actions>