<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <app-header class="header-nav"></app-header>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            @for (menu of menus(); track menu.Id) {
            <mat-list-item [routerLink]="menu.Url" (click)="sidenav.mode === 'over' && sidenav.close()">
                <mat-icon matListItemIcon>{{ menu.Icono }}</mat-icon>
                <span>{{ menu.Nombre }}</span>
            </mat-list-item>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>