<mat-card class="mat-elevation-z4" style="padding: 16px;">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        HISTORIAL DE VENTAS
    </mat-card-title>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 12px;">
        <button mat-raised-button color="primary" (click)="NewVenta()" matTooltip="Agregar Provedor">
            <mat-icon>person_add</mat-icon>
            REGISTAR NUEVA VENTA
        </button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 12px;">
        @for (venta of ventasAdmin(); track venta.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; align-self: start;">
            <!-- resto del contenido igual -->
            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleVenta(venta.id!)">
                <div style="flex: 1; display: flex; align-items: center; text-align: center; gap: 10px;">
                    <strong>Codigo De Venta: {{ venta.code }} - Fecha de Venta :{{ venta.date | date: 'yyyy - MM - dd' }}</strong>
                </div>
                <!-- <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;"
                    (click)="EditPermiso(venta); $event.stopPropagation()" matTooltip="Editar Permiso"
                    class="small-icon-button color-primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" matTooltip="Eliminar Permiso"
                    class="small-icon-button color-warn">
                    <mat-icon>delete</mat-icon>
                </button> -->
            </div>
            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedVentas() === venta.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px;">
                        <div style="display: flex; flex-wrap: wrap; gap: 24px;">
                            <!-- Subtotal -->
                            <mat-form-field appearance="outline" style="flex: 1 1 22%; height: 56px; min-width: 200px;">
                                <mat-label>Subtotal</mat-label>
                                <input matInput [value]="venta.subTotal" readonly style="font-size: 13px;" />
                                <mat-icon matSuffix style="color: green; font-size: 18px;">payments</mat-icon>
                            </mat-form-field>
                            <!-- Descuento -->
                            <mat-form-field appearance="outline" style="flex: 1 1 22%; height: 56px; min-width: 200px;">
                                <mat-label>Descuento</mat-label>
                                <input matInput [value]="venta.discount" readonly style="font-size: 13px;" />
                                <mat-icon matSuffix style="color: aqua; font-size: 18px;">percent</mat-icon>
                            </mat-form-field>
                            <!-- IVA -->
                            <mat-form-field appearance="outline" style="flex: 1 1 22%; height: 56px; min-width: 200px;">
                                <mat-label>Iva</mat-label>
                                <input matInput [value]="venta.iva" readonly style="font-size: 13px;" />
                                <mat-icon matSuffix style="color: green; font-size: 18px;">request_quote</mat-icon>
                            </mat-form-field>
                            <!-- Total -->
                            <mat-form-field appearance="outline" style="flex: 1 1 22%; height: 56px; min-width: 200px;">
                                <mat-label>Total</mat-label>
                                <input matInput [value]="venta.total" readonly style="font-size: 13px;" />
                                <mat-icon matSuffix style="color: green; font-size: 18px;">receipt_long</mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- Bloque permisos separado debajo -->
                        <h4 style="margin-bottom: 5px; font-weight: 600; color: #444;">Productos</h4>
                        <div style="margin-top: 24px;">
                            @for (details of venta.ventaDetails; track details.id) {
                            <div
                                style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 12px; margin-bottom: 12px;">
                                <mat-form-field appearance="outline" style="height: 56px;">
                                    <mat-label>NOMBRE DEL PRODUCTO</mat-label>
                                    <input matInput [value]="details.producto.name" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: brown; font-size: 18px;">shopping_cart</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="height: 56px;">
                                    <mat-label>DESCUENTO</mat-label>
                                    <input matInput [value]="details.discount" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: green; font-size: 18px;">percent</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="height: 56px;">
                                    <mat-label>IVA</mat-label>
                                    <input matInput [value]="details.iva" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: blue; font-size: 18px;">request_quote</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="height: 56px;">
                                    <mat-label>SUBTOTAL</mat-label>
                                    <input matInput [value]="details.subTotal" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: burlywood; font-size: 18px;">payments</mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="height: 56px;">
                                    <mat-label>TOTAL</mat-label>
                                    <input matInput [value]="details.total" readonly style="font-size: 13px;" />
                                    <mat-icon matSuffix style="color: cyan ; font-size: 18px;">receipt_long</mat-icon>
                                </mat-form-field>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</mat-card>