@if(registerRole()){
<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Roles
    </mat-card-title>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 12px;">
        <button mat-raised-button color="primary" (click)="NewRole()" matTooltip="Agregar Nuevo Rol">
            <mat-icon>person_add</mat-icon>
            Agregar
        </button>
    </div>

    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px;">
        @for (Role of RoleAdmin(); track Role.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">

            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleUserRole(Role.id!)">
                <div style="flex: 1; display: flex; align-items: center; gap: 8px;">
                    <mat-icon>{{ Role.icon }}</mat-icon>
                    <strong>{{ Role.description }}</strong>
                </div>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;"
                    (click)="EditRole(Role); $event.stopPropagation()" matTooltip="Editar Cliente"
                    class="small-icon-button color-primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" matTooltip="Eliminar Cliente"
                    class="small-icon-button color-warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedRole() === Role.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px;">
                        <div style="display: flex; align-items: stretch; gap: 24px;">
                            <!-- Bloque Nombre + Apellido -->
                            <div style="display: flex; flex-direction: column; gap: 24px; flex: 1;">
                                <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                    <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput [value]="Role.nameRol" readonly style="font-size: 13px;" />
                                        <mat-icon matSuffix
                                            style="color: green; font-size: 18px;">account_box</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                    <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                        <mat-label>Descripción</mat-label>
                                        <input matInput [value]="Role.description" readonly style="font-size: 13px;" />
                                        <mat-icon matSuffix
                                            style="color: aqua; font-size: 18px;">person_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Imagen con altura igual a la altura del bloque Nombre + Apellido -->
                            <div
                                style="width: 180px; height: auto; border-radius: 8px; overflow: hidden; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
                                <img [src]="'https://recursosstorage.blob.core.windows.net/usuarios/'"
                                    alt="Imagen usuario" style="width: 100%; height: 100%; object-fit: cover;" />
                            </div>
                        </div>

                        <!-- Bloque permisos separado debajo -->
                        <h4 style="margin-bottom: 5px; font-weight: 600; color: #444;">Permisos</h4>
                        <div style="margin-top: 24px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px;">
                            @for (perm of Role.permissions; track perm.id) {
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input matInput [value]="perm.name ?? '(Sin nombre)'" readonly>
                            </mat-form-field>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

</mat-card>
}
@if(registerPermission()){
<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Permisos
    </mat-card-title>
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 12px;">
        <button mat-raised-button color="primary" (click)="NewPermission()" matTooltip="Agregar Nuevo Permiso">
            <mat-icon>person_add</mat-icon>
            Agregar
        </button>
    </div>

    <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px;">
        @for (permission of PermissionAdmin(); track permission.id) {
        <div style="width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden;">

            <!-- Header -->
            <div style="width: 100%; padding:  8px 16px 8px 16px; background-color: #f3f3f3; display: flex; justify-content: space-between; align-items: center; cursor: pointer;"
                (click)="toggleUserPermission(permission.id!)">
                <div style="flex: 1; display: flex; align-items: center; gap: 8px;">
                    <mat-icon>{{ permission.icon }}</mat-icon>
                    <strong>{{ permission.name }}</strong>
                </div>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 10px;"
                    (click)="EditPermiso(permission); $event.stopPropagation()" matTooltip="Editar Permiso"
                    class="small-icon-button color-primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button style="flex-shrink: 0; margin-right: 35px;" matTooltip="Eliminar Permiso"
                    class="small-icon-button color-warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <!-- Expandable Content -->
            <div class="expandable-content" [class.expanded]="expandedPermission() === permission.id">
                <div style="padding: 12px; background-color: white;">
                    <div
                        style="max-width: 100%; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; padding: 16px;">
                        <div style="display: flex; align-items: stretch; gap: 24px;">
                            <!-- Bloque Nombre + Apellido -->
                            <div style="display: flex; flex-direction: column; gap: 24px; flex: 1;">
                                <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                    <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput [value]="permission.name" readonly style="font-size: 13px;" />
                                        <mat-icon matSuffix
                                            style="color: green; font-size: 18px;">account_box</mat-icon>
                                    </mat-form-field>
                                </div>
                                <!-- <div style="display: flex; flex-wrap: wrap; gap: 4%;">
                                    <mat-form-field appearance="outline" style="flex: 1 1 48%; height: 56px;">
                                        <mat-label>Descripción</mat-label>
                                        <input matInput [value]="permission.description" readonly style="font-size: 13px;" />
                                        <mat-icon matSuffix
                                            style="color: aqua; font-size: 18px;">person_outline</mat-icon>
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <!-- Imagen con altura igual a la altura del bloque Nombre + Apellido -->
                            <div
                                style="width: 180px; height: auto; border-radius: 8px; overflow: hidden; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
                                <img [src]="'https://recursosstorage.blob.core.windows.net/usuarios/'"
                                    alt="Imagen usuario" style="width: 100%; height: 100%; object-fit: cover;" />
                            </div>
                        </div>

                        <!-- Bloque permisos separado debajo -->
                        <h4 style="margin-bottom: 5px; font-weight: 600; color: #444;">Permisos</h4>
                        <div style="margin-top: 24px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px;">
                            @for (accion of permission.accions; track accion.accionId) {
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <input matInput [value]="accion.nombre ?? '(Sin nombre)'" readonly>
                            </mat-form-field>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

</mat-card>
}



@if(registerAccion()){

<mat-card class="mat-elevation-z8">
    <mat-card-title style="font-size: 1.5rem; font-weight: 600; margin-bottom: 12px;">
        Acciones
    </mat-card-title>
    <div style="display: flex; align-items: center; gap: 12px; margin-bottom: 1px;">
        <div style="display: flex; width: 100%; gap: 12px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 1 1 50%; margin: 0;">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <div style="flex: 1 1 50%; display: flex; justify-content: flex-end;">
                <button mat-raised-button color="primary" (click)="NewAccion()" matTooltip="Agregar Accion">
                    <mat-icon>person_add</mat-icon>
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="dataSourcemaster" class="custom-table">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>ID DE LA ACCION </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Acciones </th>
            <td mat-cell *matCellDef="let element" style="display: flex; gap: 8px; justify-content: center;">
                <button mat-icon-button aria-label="Editar" class="small-icon-button color-primary"
                    (click)="EditAccion(element)" matTooltip="Editar Accion">
                    <mat-icon class="small-icon">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Eliminar" class="small-icon-button color-warn"
                    matTooltip="Eliminar Accion">
                    <mat-icon class="small-icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsmaster"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsmaster;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</mat-card>
}